ENVIRONMENT=staging
DISCORD_BOT_TOKEN_STAGING="your_discord_bot_token_for_staging"
DISCORD_BOT_TOKEN_PRODUCTION="your_discord_bot_token_for_production"
CURRENT_SEASON=2
WEBSITE_URL="https://lounge.mkcentral.com"
MKCentral_Site_URL="https://mkcentral.com"
DEBUG_MODE=False
Mods_Role_ID="your_mod_role_id"
