DISCORD_BOT_TOKEN="your_discord_bot_token"
CURRENT_SEASON=2
WEBSITE_URL="https://lounge.mkcentral.com"
MKCentral_Site_URL="https://mkcentral.com"
DEBUG_MODE=False
Mods_Server_ID="your_server_id"
Mods_Role_ID="your_mod_role_id"
